{
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 120,
  "trailingComma": "es5",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}
